@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.owl-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 100000;
    display: flex;
    flex-direction: column;
}


:is([dir="ltr"]) .owl-dots {
    left: auto;
    right: 20px;
}

.owl-dots button {
    width: 20px;
    height: 20px;
    background: #eee !important;
    opacity: 0.5;
    border-radius: 100px;
    margin-top: 10px;
}

.owl-dot.active {
    background: #c54139 !important;
    opacity: 1;
}

.list-of-content ul {
    list-style-image: url('/public/image/list-dot.svg');
}

.list-of-content ul li {
    margin-bottom: 20px;
}

.nav-container .active {
    background-color: rgba(225, 0, 225, 0.469);
}


@media (max-width: 768px) {
    .sultan {
        box-shadow: none !important;
    }
}

